{% extends "layout.html"%}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    <form action="{{ url_for('buy') }}" method="post">
        <div style="padding-bottom: 15px;">
        <label for="symbol">Symbol:</label>
        <input type="text" name="symbol" id="symbol">
        </div>
        <div style="padding-bottom: 15px;">
        <label for="shares">Shares:</label>
        <input type="text" name="shares" id="shares">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}